div{
	margin:1px
}

div.spacer{
	height:20px;
}

div.header{
	height:75px;
	/*background:#4D4D4D;*/
	margin-top:5px;
	/*margin-bottom:3px;*/
	/*text-align:center;*/
}

div.nav{
	text-align:center;
	padding-top:20px;
	float:right;
}

div.content{
	/*background:#BFBFBF;*/
	padding-top:2px;
	padding-bottom:15px;
	padding-left:15px;
	padding-right:15px;
	margin-top:5px;
	margin-bottom:5px;
}

div.game{
	background:#BFBFBF;
	float:left;
	padding-bottom:15px;
	padding-left:15px;
	padding-right:15px;
	margin-top:5px;
	margin-bottom:5px;
}

div.description{
	background:#BFBFBF;
	float:right;
	padding-bottom:15px;
	padding-left:15px;
	padding-right:15px;
	margin-top:5px;
	margin-bottom:5px;
}

div.footer{
	height:30px;
	overflow:hidden;
	margin-top=2px;
}

ul.nav{
	display:inline-block;
	list-style:none;
	margin:0px;
	padding:0;
	overflow:hidden;
	/*width:400px;*/
	font-size:20px;
}

li.nav{
	display:inline;
	padding:1px;
}

a:link,a:visited{
	/*display:block*/
	/*width:120px;*/
	font-weight:bold;
	color:#000000;
	text-align:center;
	padding:2px;
	text-decoration:none;
}

a:hover,a:active, a.current{
	color:#BFBFBF;
}

h.header{
	font-size:50px;
	font-weight:bold;
	padding:5px;
}

h1.cont{
	margin-left:1px;
}

h1.gamecont{
	text-align: center;
}

p.cont{
	margin-left:3px;
}

p.left{
	width:400px;
	float:left;
	margin:3px;
}

p.right{
	width:200px;
	float:right;
	text-align:right;
	margin:3px;
}

img.cont{
	height:120px;
	width:120px;
	position:relative;
	float:right;
	opacity:1;
	border:1px solid black;
	margin-right:5px;
}

img.sprite{
	border:1px solid black;
	margin-right:5px;
}

#game_div {
	width: 700px;
	margin: 0 auto;
	margin-top: 50px;
}

#asteroid{
	width: 400px;
	height: 640px;
	margin: 0px auto;
}